node_modules/
dist/
.expo/
.expo-shared/
.turbo/
.DS_Store
*.log
apps/server/node_modules/
apps/mobile/node_modules/
apps/server/.env
apps/server/prisma/dev.db*
coverage/

~$йс_2_приложение_мобильное_приложение_ Гид_по_Ленским_столбам.docx
/frontend/android
/frontend/build
/backend/api/__pycache__
/backend/backend/__pycache__
/backend/venv
